/*-------------First section--------------*/
form
	text-align: center
	margin-top: 10px
	input
		width: 210px
		width: 210px
		border-radius: 5px
	button
		border-radius: 10px
		margin-left: 8px
		background: lightblue



/*-------------second section--------------*/
div
	#frameContainer
		margin: 0 auto
		width: 1000px
		margin-top: 60px
ul
	&.frameImages
		margin: 0 auto
		padding: 0
		white-space: nowrap
		width: 900px
		overflow-x: auto
		li
			display: inline
			width: 150px
			height: 150px
			img
				width: 900px
				height: 300px


/*-------------Amazon section--------------*/

div
	#amazon-bar
		background-color: #000000
		margin-top: 40px
		text-align: center
		height: 60px
		img
			text-align: center
			height: 55px

div
	#amazonProducts
		margin: 0 auto
		padding: 0
		white-space: nowrap
		width: 900px
		overflow-x: auto
		li
			display: inline
			width: 150px
			height: 150px
			img
				width: 250px
				height: 200px

/*-------------aliexpress section--------------*/

div
	#aliexpress-bar
		background-color: white
		border: 2px solid #000000
		margin-top: 40px
		text-align: center
		height: 60px
		img
			text-align: center
			height: 55px

div
	#aliProducts
		margin: 0 auto
		padding: 0
		white-space: nowrap
		width: 900px
		overflow-x: auto
		li
			display: inline
			width: 150px
			height: 150px
			img
				width: 250px
				height: 200px












