<div ng-hide="cleanView" id="secondContainer">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img id="carousel-img" src="https://images-na.ssl-images-amazon.com/images/G/30/kindle/merch/gw/2016/eink_fam_ea_qh-gw-superhero-es-1500x300._CB268875482_.jpg" alt="...">
            </div>
            <div class="item">
                <img id="carousel-img" src="https://images-na.ssl-images-amazon.com/images/G/30/digital/video/magellan/country/spain/ES_X-Site_GWSuperhero_Desktop_FT_3000x600._CB533724925_.jpg" alt="...">
            </div>
            <div class="item">
                <img id="carousel-img" src="https://images-na.ssl-images-amazon.com/images/G/30/amazonservices/seller_success_stories/2017/IWD/2017_IWD_gw-desktopHero_2x_ES._CB533527818_.jpg" alt="...">
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <script>

    $('.carousel').carousel({
        interval: 3000
    })
    </script>
