  <nav ng-controller="homeController" ng-hide="cleanView" id="homeNavbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img id="logoImg" src="http://i67.tinypic.com/978bvd.png" alt="">
                </a>
            </div>
            <form id="findForm" method="POST" class="navbar-form navbar-left" role="form" ng-submit="getSearch($event)">
                <div class="form-group">
                    <input class="inputSearch" type="text" class="form-control" placeholder="Find your product..." ng-model="SearchProduct">
                </div>
                <button type="submit" class="findButton btn btn-default">Find</button>
            </form>
            <!--/.navbar-collapse -->
        </div>
        <div ng-hide="cleanView" ng-controller="NavbarCtrl" id="tools-bar">
            <ul id="barTools" class="btn-group">
                <li ng-hide="loggedUser"><a type="button" href="#!/login" class="btn btn-default">Login</a></li>
                <li ng-hide="loggedUser"><a type="button" href="#!/register" class="btn btn-default">Register</a></li>
                <li ng-show="loggedUser"><a type="button" href="#!/private" class="btn btn-default">Profile</a></li>
                <li ng-show="loggedUser">
                    <a class="btn btn-primary" ng-click="logout()" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>