<div ng-include="'/partials/navbar.html'"></div>
<div ng-controller="privateController" class="container">
    <div id="privateSection">
        <h1>Profile Section</h1>
        <div class="alert alert-success">
            <p><strong>You are logged!</strong> {{ message }} {{username}}</p>
        </div>
    </div>
    <div class="profileSection">
        <img class="img-circle" src="{{ image }}" />
        <div class="usernameParagraphs">
            <p class="lead">Name: </p>
            <p>{{ name }}</p>
            <p class="lead">Email: </p>
            <p>{{ email }}</p>
            <div class="privateButtons">
                <div>
                    <a class="EditButton btn btn-primary" href="#!/editProfile"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                </div>
            </div>
        </div>
    </div>
    <!--         <div ng-show="EditSection"></div>
        <div ng-hide="UserSection" class="page-footer container profileSection"><div>
        <div ng-include="'/partials/editUser.html'"></div> -->
</div>
