<div ng-controller="searchController" ng-show='SectionSearch' id="searchContainer" class="container">
<div ng-include="'/partials/searchBar.html'"></div>
    <div id="ebayThumb" class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="product in ebayProducts | limitTo: 3">
            <div class="thumbnail">
                <img src="{{ product.galleryURL[0] }}" alt="...">
                <div class="caption">
                    <h3 class="productTitle">{{ product.title[0] }}</h3>
                    <p>{{ product.sellingStatus[0].currentPrice[0].__value__ }} EUR</p>
                    <div>
                        <p>Go to</p>
                        <img class="averageImg" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ8VcYkkGhyDyWTHYKkzYAfG1ddTnYsWX7Vu-ZCsmvZa1yzq1V9" alt="">
                    </div>
                    <div class="stars">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="CIThumb" class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="product in corteIProducts | limitTo: 3">
            <div class="thumbnail">
                <img ng-src="http:{{product.image}}" alt="...">
                <div class="caption">
                    <h3 class="productTitle">{{ product.description }}</h3>
                    <p>{{ product.price }}</p>
                    <div>
                        <p>Go To</p>
                        <img class="averageImg" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRDeUNmvUOtHeceeuu8GCM-efKgN5XbIrwg6FGo3oOCPrPMSCm6" alt="">
                    </div>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="fnacThumb" class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="product in fnacProducts | limitTo: 3">
            <div class="thumbnail">
                <img src="{{ product.image }}" alt="...">
                <div class="caption">
                    <h3 class="productTitle">{{ product.description }}</h3>
                    <p>{{ product.price }}</p>
                    <div>
                        <p>Go to</p>
                        <img class="averageImg" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT591yizU-cIyJrd-BtCfQGd49GFWE9DcXioG5FUGAYEdg8JQOg" alt="">
                    </div>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="carrefourThumb" class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="product in carrefProducts | limitTo: 3">
            <div class="thumbnail">
                <img ng-src="http:{{ product.image }}" alt="...">
                <div class="caption">
                    <h3 class="productTitle">{{ product.description }}</h3>
                    <p>{{ product.price }}</p>
                    <div>
                        <p>Go to</p>
                        <img class="averageImg" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTVFCyedwexHR9zJCjhlsWlm2NHdr-VRvaMoOB18bOY0RcaTnHV" alt="">
                    </div>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="soloStockThumb" class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="product in soloProducts | limitTo: 3">
            <div class="thumbnail">
                <img ng-src="{{ product.image }}" alt="...">
                <div class="caption">
                    <h3 class="productTitle">{{ product.description }}</h3>
                    <p>{{ product.price }}</p>
                    <div>
                        <p>Go To</p>
                        <img class="averageImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5jO2PMAcwt5HSy6NwvuIYHcOF11MsNYkS4kgc1u69FbRqQLTT" alt="">
                    </div>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'/partials/home.html'"></div>
