
<div class="container-fluid" ng-show="searchBar">
    <nav id="results-bar" class="navbar navbar-default">
        <div id="resultsP" class="container-fluid">
            <div>
                <div>
                    <p id="result">MEJORES RESULTADOS DE BUSQUEDA...</p>
                </div>
                <div class="buttonfiltersContainer">
                    <ul id="filterResult" class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="btn btn-default" type="button class="nav-link href="#!/search/:query" active">Results</a>
                        </li>
                        <li id="average" class="nav-item">
                            <a class="btn btn-default" ng-click="averages()" type="button" class="nav-link" href="#!/charts">Average</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
